################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TAMS/.vs/TAMS
/TAMS/obj
/TAMS/bin/Debug/netcoreapp3.1
